.light {
  background-color: #dbdbdb;
  color: #141414;
}

.dark-border {
  border-bottom: 1px solid #141414;
}

.light-hover:hover {
  background-color: #141414;
  color: #dbdbdb;
}

body, .btn-menu, .sidebar, .dismiss, .sidebar-header, .submenu-elements, .headings, .callout-container, .navbar, .query-2, .query-3 {
  background-color: #dbdbdb;
}

.bottom-border {
  background-color: #141414;
}

.btn-menu, .sidebar, .dismiss, .sidebar-header, .submenu-elements, .headings, .site-name, .left-name, .callout-container, .closebtn, .subject, .query-2, .query-3, .text, .search-list, .site-text-1, .search-list-2, .search-list-3 {
  color: #141414;
}

.query, .btn-menu, .navbar, .query-2, .query-3, .site-row-1, .site-text-1, .left-photo, .callout, .site-photo-1 {
  border-color: #141414;
}

.btn-menu:hover, .submenu-elements:hover, .headings:hover, .dismiss:hover {
  background-color: #141414;
  color: #dbdbdb;
}
