.navbar .search-engine-v2 {
  position: fixed;
  right: 25px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  z-index: 4;
}

.navbar .search-engine-v2 .query-2 {
  padding: 10px 25px;
  width: 300px;
  font-size: 18px;
  border-radius: 8px 8px 8px 8px;
  border: 2px solid;
  margin-top: 24px;
  float: right;
  margin-right: 15px;
  background-color: #305f4a;
  color: #fcfcfc;
  border-color: #fcfcfc;
}

.navbar .search-engine-v2 .search-list-2 {
  position: fixed;
  top: 100px;
  right: 40px;
  text-align: left;
  list-style-type: none;
  padding: 0;
  width: 300px;
  margin: 10px auto;
  cursor: pointer;
  color: #fcfcfc;
  z-index: 4;
}

.navbar .search-engine-v2 .search-list-2 .search-elements {
  padding: 0;
  font-weight: 200;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px #fcfcfc solid;
  font-size: 20px;
  background-color: #305f4a;
}

.navbar .search-engine-v2 .search-list-2 .search-elements .link {
  display: block;
  padding: 10px 28px;
  width: 100%;
  height: 100%;
  color: #fcfcfc;
  text-decoration: none;
}

.navbar .search-engine-v2 .search-list-2 .search-elements .link:focus {
  background-color: #223f33;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:nth-child(1) {
  border-radius: 8px 8px 0 0;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:nth-child(1) .link:focus {
  background-color: #223f33;
  border-radius: 8px 8px 0 0;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:nth-last-child(1) {
  border: 0;
  border-radius: 0 0 8px 8px;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:nth-last-child(1) .link:focus {
  background-color: #223f33;
  border-radius: 0 0 8px 8px;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:only-child {
  border-radius: 8px;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:only-child .link:focus {
  border-radius: 8px;
  background-color: #223f33;
}

.navbar .search-engine-v2 .search-list-2 .search-elements:hover {
  background-color: #223f33;
}

.navbar .search-engine-v2 .search-list-2 .no-results {
  font-weight: 200;
  padding: 8px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px #fcfcfc solid;
  font-size: 20px;
  background-color: #305f4a;
  color: #fcfcfc;
  border-radius: 8px;
  cursor: default;
}

.navbar .search-engine-v2 .search-list-2 .no-results:hover {
  background-color: #223f33;
}

.sidebar .back-to-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .back-to-main .main-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcfcfc;
  text-decoration: none;
  padding: 14px;
  margin-top: 16px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .back-to-main .main-site:hover {
  color: #305f4a;
  background-color: #fcfcfc;
}

.sidebar .search-engine-v3 .query-3 {
  position: relative;
  padding: 10px 25px;
  font-size: 15px;
  border: 1px solid;
  margin-top: 16px;
  border-left: none;
  border-right: none;
  width: 200px;
  display: none;
  background-color: #305f4a;
  border-color: #fcfcfc;
  color: #fcfcfc;
}

.sidebar .search-engine-v3 .search-list-3 {
  top: 70px;
  right: 15px;
  text-align: left;
  list-style-type: none;
  padding: 0;
  width: 250px;
  margin: 10px auto;
  cursor: pointer;
  font-size: 12px;
  color: #fcfcfc;
}

.sidebar .search-engine-v3 .search-list-3 .search-elements {
  padding: 8px 25px 5px 25px;
  font-weight: 200;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .site-title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #223f33;
  margin-top: 40px;
  margin-bottom: 50px;
}

.wrapper .site-title label {
  letter-spacing: 2px;
}

.wrapper .site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-color: #fcfcfc;
  width: 100%;
}

.wrapper .site-content .site-photo {
  padding: 16px;
  border-bottom: none;
  border-color: #fcfcfc;
}

.wrapper .site-content .site-photo .container-photo {
  width: 400px;
  height: 250px;
}

.wrapper .site-content .site-photo .container-photo .photo {
  width: 100%;
  height: 100%;
  border-radius: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .site-content .site-photo .photo-name {
  font-size: 18px;
  margin-top: 6px;
  text-align: center;
  color: #223f33;
}

.wrapper .site-content .site-nutri-vars {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
  border-left: 1px #223f33 solid;
  color: #223f33;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table {
  margin-left: 16px;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-header {
  font-size: 18px;
  padding: 6px;
  text-align: right;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-header:nth-child(1) {
  width: 210px;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-header:nth-child(2) {
  width: 100px;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-header:nth-child(3) {
  width: 150px;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-data {
  padding: 6px;
  text-align: right;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-name {
  padding: 6px;
  text-align: left;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-subname {
  font-size: 14px;
  padding: 6px 6px 6px 24px;
  text-align: left;
}

.wrapper .site-content .site-nutri-vars .site-nutri-table .site-nutri-rows .site-nutri-note {
  padding: 6px;
  text-align: right;
}
/*# sourceMappingURL=subsite.css.map */