@import "./vars";

.navbar {
    .search-engine-v2 {
        position: fixed;
        right: 25px;
        align-self: end;
        z-index: 4;
        .query-2 {
            padding: 10px 25px;
            width: 300px;
            font-size: 18px;
            border-radius: 8px 8px 8px 8px;
            border: 2px solid;
            margin-top: 24px;
            float: right;
            margin-right: 15px;
            background-color: $green;
            color: $light;
            border-color: $light;
        }
        .search-list-2 {
            position: fixed;
            top: 100px;
            right: 40px;
            text-align: left;
            list-style-type: none;
            padding: 0;
            width: 300px;
            margin: 10px auto;
            cursor: pointer;
            color: $light;
            z-index: 4;
            .search-elements {
                padding: 0;
                font-weight: 200;
                transition: all 0.3s ease-in-out;
                border-bottom: 2px $light solid;
                font-size: 20px;
                background-color: $green;
                .link {
                    display: block;
                    padding: 10px 28px;
                    width: 100%;
                    height: 100%;
                    color: $light;
                    text-decoration: none;
                    &:focus {
                        background-color: $dark-green;
                    }
                }
                &:nth-child(1) {
                    border-radius: 8px 8px 0 0;
                    .link:focus {
                        background-color: $dark-green;
                        border-radius: 8px 8px 0 0;
                    }
                }
                &:nth-last-child(1) {
                    border: 0;
                    border-radius: 0 0 8px 8px;
                    .link:focus {
                        background-color: $dark-green;
                        border-radius: 0 0 8px 8px;
                    }
                }
                &:only-child {
                    border-radius: 8px;
                    .link:focus {
                        border-radius: 8px;
                        background-color: $dark-green;
                    }
                }
                &:hover {
                    background-color: $dark-green;
                }
            }
            .no-results {
                font-weight: 200;
                padding: 8px 25px;
                transition: all 0.3s ease-in-out;
                border-bottom: 2px $light solid;
                font-size: 20px;
                background-color: $green;
                color: $light;
                border-radius: 8px;
                cursor: default;
                &:hover {
                    background-color: $dark-green;
                }
            }
        }
    }
}

.sidebar {
    .back-to-main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-site {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light;
            text-decoration: none;
            padding: 14px;
            margin-top: 16px;
            width: 100%;
            transition: all 0.3s ease-in-out;
        }
        .main-site:hover {
            color: $green;
            background-color: $light;
        }
    }
    .search-engine-v3 {
        .query-3 {
            position: relative;
            padding: 10px 25px;
            font-size: 15px;
            border: 1px solid;
            margin-top: 16px;
            border-left: none;
            border-right: none;
            width: 200px;
            display: none;
            background-color: $green;
            border-color: $light;
            color: $light;
        }
        .search-list-3 {
            top: 70px;
            right: 15px;
            text-align: left;
            list-style-type: none;
            padding: 0;
            width: 250px;
            margin: 10px auto;
            cursor: pointer;
            font-size: 12px;
            color: $light;
            .search-elements {
                padding: 8px 25px 5px 25px;
                font-weight: 200;
                transition: all 0.3s ease-in-out;
                font-size: 12px;
            }
        }
    }
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper {
    flex-direction: column;
    .site-title {
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        color: $dark-green;
        margin-top: 40px;
        margin-bottom: 50px;
        label {
            letter-spacing: 2px;
        }
    }
    .site-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-color: $light;
        width: 100%;
        .site-photo {
            padding: 16px;
            border-bottom: none;
            border-color: $light;
            .container-photo {
                width: 400px;
                height: 250px;
                .photo {
                    width: 100%;
                    height: 100%;
                    border-radius: 26px;
                    object-fit: cover;
                }
            }
            .photo-name {
                font-size: 18px;
                margin-top: 6px;
                text-align: center;
                color: $dark-green;
            }
        }
        .site-nutri-vars {
            text-align: justify;
            text-justify: inter-word;
            line-height: 1.6;
            border-left: 1px $dark-green solid;
            color: $dark-green;
            .site-nutri-table {
                margin-left: 16px;
                .site-nutri-rows {
                    .site-nutri-header {
                        font-size: 18px;
                        padding: 6px;
                        text-align: right;
                    }
                    .site-nutri-header:nth-child(1) {
                        width: 210px;
                    }
                    .site-nutri-header:nth-child(2) {
                        width: 100px;
                    }
                    .site-nutri-header:nth-child(3) {
                        width: 150px;
                    }
                    .site-nutri-data {
                        padding: 6px;
                        text-align: right;
                    }
                    .site-nutri-name {
                        padding: 6px;
                        text-align: left;
                    }
                    .site-nutri-subname {
                        font-size: 14px;
                        padding: 6px 6px 6px 24px;
                        text-align: left;
                    }
                    .site-nutri-note {
                        padding: 6px;
                        text-align: right;
                    }
                }
            }
        }
    }
}
